body {
    font-family: Arial, sans-serif;
    background-color: #fdfcf3;
    margin: 0;
    padding: 0;
    color: black;
}

nav {
    background-color: lightcyan;
    text-align: right;
    padding: 5px;
}
nav a {
    color:#f2c94c;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}
nav a: hover {
    color: white;
}
h1, h2 {
    color: black;
    text-align: center;

}

 p {
    color: black;
    line-height: 1.6;
    padding: 0 20px;
 }
 button {
    background-color: #f2c94c;
    color:navy;
    border:none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
 }
 button {
    background-color: #d4a017;
 }
 footer {
    background-color:rgb(4, 4, 90);
    color: rgb(3, 3, 58);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
 }
 body {
    background-color:lightcyan;
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 .container {
    max-width: 2000px;
    height:2000px;
    margin: 20px auto;
    background: lightcyan;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
 }
 h1, h2 {
    text-align: center;
    color: black;
 }
 p, li {
    line-height:1.6;
    text-align: justify;
 }
.home-banner {
    text-align:center;
    margin:20px auto;
}

.banner-img {
    width: 100%;
    max-height: 1500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.center-image {
    display: block;
    margin:0 auto;
    max-width: 800px;
    width: 100%;
    height:auto;
}
.slider {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
}
.slide {
    display: none;
    width: 100%;
    height: auto;
}
.slide.active {
    display: block;
}
.prev, .next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border:none;
    paddling:10px;
    cursor:pointer;
    font-size: 24px;
}
.prev {left: 10px;}
.next {right: 10px;}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}
h1 {
    font-size: clamp(24px, 5vw, 36px);
}
p {
    font-size: clamp(14px, 3vw, 18px);
    line-height: 1.5;
}
. section {
    padding: clamp(10px, 5%, 40px);
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
 
